html{
  font-family: sans-serif;
}
body{
  background-color: #F6F6F6;
}
h1{
  margin-top: 100px;
  font-size: 57px;
  font-family: Montserrat,sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #333333;
  text-transform: uppercase;
}
.form-group{
  margin-top: 100px
}
.email, .password, .password-conf{
  margin-top: 80px;
  width: 18%;
  padding: 5px;
  margin-left: 10px;
  margin-right: 20px;
  border: none;
  border-bottom: 2px solid #022D49;
  background-color: transparent;
}

.email::placeholder, .password::placeholder, .password-conf::placeholder{
  color: #333333;
  letter-spacing: 1.2px
}
.email:focus, .password:focus, .password-conf:focus{
  outline: none;
}

.btn-submit{
  margin-top: 55px;
  color: #022D49;
  background-color: transparent;
  border-color: #022D49;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-width: 2px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.btn-submit:hover{
  background-color: #B60838;
  color: #ffffff;
  border: 1px solid;
  border-color: #022D49;
}
.img-thumbnail{
  background-color: transparent;
  border: none;
}
.btn-primary{
  min-width: 220px;
  min-height: 190px;
  border: none;
  border-radius: 0;
}
.btn1{
  background-color: #6E7DFF;
}
.btn2{
  background-color: #E23A3A;
}
.btn3{
  background-color: #00D0E0;
}
.btn4{
  background-color: #BF6CFF;
}
.btn5{
  background-color: #FBA702;
}

.btn1:hover{
  background-color: #9aa5ff;
}
.btn2:hover{
  background-color: #ea6868;
}
.btn3:hover{
  background-color: #4ddfea;
}
.btn4:hover{
  background-color: #d398ff;
}
.btn5:hover{
  background-color: #fdc24d;
}

.box h3{
  text-transform: uppercase;
  font-weight: 400;
  line-height: 23px;
  font-size: 24px;
  font-family: Montserrat,sans-serif;
  padding-bottom: 13px;
}
.box img{
  width: 90px;
  height: auto;
}
